.header {
    padding: 8px 0 77px;
    
    background: var(--white);
}
.header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
}
.header_component-page {
    padding: 0;
    background: var(--grey-0);
}

@media (min-width: 1025px) {

    .header__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 64px;
        color: var(--black);
    }

}