.tabs {
    position: relative;
}
.tabs__input {
    position: absolute;
    outline: none;
    clip: rect(0,0,0,0);
}
.tabs__menu {
    flex-direction: row;
    gap: 40px;
    overflow-x: auto;
}
/* Hide scrollbar */
/* For Chrome, Safari and Opera */
.tabs__menu::-webkit-scrollbar {
    display: none;
}
/* For IE, Edge and Firefox */
.tabs__menu {
    scrollbar-width: none;
}
.tabs__label {
    cursor: pointer;
    padding-bottom: 8px;
    border-bottom: 5px solid transparent;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3);
    white-space: nowrap;
}

.tabs__label:hover,
.tabs__input_all:checked ~ .tabs__menu 
.tabs__label_all,
.tabs__input_elements:checked ~ .tabs__menu 
.tabs__label_elements,
.tabs__input_containers:checked ~ .tabs__menu 
.tabs__label_containers,
.tabs__input_templates:checked ~ .tabs__menu 
.tabs__label_templates {
    color: var(--black);
    border-bottom: 5px solid var(--black);
}

.tabs__content-section {
    padding: 68px 0 204px;
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);

    background: var(--grey-0);
}
.tabs__preview {
    padding: 0 16px;
}
.tabs__preview-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
}

/* Show */
/* All components */
.tabs__input_all:checked ~
.tabs__content-section_elements,
.tabs__input_all:checked ~
.tabs__content-section_containers,
.tabs__input_all:checked ~
.tabs__content-section_templates {
    display: none;
}
/* Elements */
.tabs__input_elements:checked ~
.tabs__content-section_all,
.tabs__input_elements:checked ~
.tabs__content-section_containers,
.tabs__input_elements:checked ~
.tabs__content-section_templates {
    display: none;
}
/* Containers */
.tabs__input_containers:checked ~
.tabs__content-section_all,
.tabs__input_containers:checked ~
.tabs__content-section_elements,
.tabs__input_containers:checked ~
.tabs__content-section_templates {
    display: none;
}
/* Templates */
.tabs__input_templates:checked ~
.tabs__content-section_all,
.tabs__input_templates:checked ~
.tabs__content-section_elements,
.tabs__input_templates:checked ~
.tabs__content-section_containers {
    display: none;
}

@media (min-width: 1025px) {

    .tabs__preview-inner {
        grid-template-columns: repeat(3, 1fr);
    }
    
}