.tabs {
    position: relative;
    background: var(--white);
}
.tabs__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}
.tabs__menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0 16px;
    overflow-x: auto;
}
/* Hide scrollbar */
/* For Chrome, Safari and Opera */
.tabs__menu::-webkit-scrollbar {
    display: none;
}
/* For IE, Edge and Firefox */
.tabs__menu {
    scrollbar-width: none;
}
.tabs__menu_no-padding {
    padding: 0;
}
.tabs__label {
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3);
    white-space: nowrap;
}
.tabs__label::after,
.tabs__label_all::after,
.tabs__label_elements::after,
.tabs__label_containers::after,
.tabs__label_templates::after,
.tabs__label_html::after,
.tabs__label_css::after {
    content: '';
    display: block;
    height: 5px;
    margin-top: 8px;
    background: var(--black);
    transform: scaleX(0);
}
.tabs__label:hover {
    transition: color 250ms ease-in-out;
}

.tabs__label:hover,
.tabs__input_all:checked ~ .tabs__menu 
.tabs__label_all,
.tabs__input_elements:checked ~ .tabs__menu 
.tabs__label_elements,
.tabs__input_containers:checked ~ .tabs__menu 
.tabs__label_containers,
.tabs__input_templates:checked ~ .tabs__menu 
.tabs__label_templates,
.tabs__input_html:checked ~ .tabs__menu 
.tabs__label_html,
.tabs__input_css:checked ~ .tabs__menu 
.tabs__label_css {
    color: var(--black);
}
.tabs__label:hover::after,
.tabs__input_all:checked ~ .tabs__menu 
.tabs__label_all::after,
.tabs__input_elements:checked ~ .tabs__menu 
.tabs__label_elements::after,
.tabs__input_containers:checked ~ .tabs__menu 
.tabs__label_containers::after,
.tabs__input_templates:checked ~ .tabs__menu 
.tabs__label_templates::after,
.tabs__input_html:checked ~ .tabs__menu 
.tabs__label_html::after,
.tabs__input_css:checked ~ .tabs__menu 
.tabs__label_css::after {
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
}
.tabs__content-section {
    width: 100%;
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);

    background: var(--grey-0);

    animation: switch-tab 200ms ease-in-out;
}
.tabs__code {
    width: 100%;
    overflow: auto;
    padding-top: 50px;

    animation: switch-tab 200ms ease-in-out;
}
.tabs__line {
    position: absolute;
    width: 100vw;
    height: 1px;
    transform: translateX(-50%);
    left: 50%;

    background: var(--grey-2);
}

/* Show */
/* All components */
.tabs__input_all:checked ~
.tabs__content-section_elements,
.tabs__input_all:checked ~
.tabs__content-section_containers,
.tabs__input_all:checked ~
.tabs__content-section_templates {
    display: none;
}
/* Elements */
.tabs__input_elements:checked ~
.tabs__content-section_all,
.tabs__input_elements:checked ~
.tabs__content-section_containers,
.tabs__input_elements:checked ~
.tabs__content-section_templates {
    display: none;
}
/* Containers */
.tabs__input_containers:checked ~
.tabs__content-section_all,
.tabs__input_containers:checked ~
.tabs__content-section_elements,
.tabs__input_containers:checked ~
.tabs__content-section_templates {
    display: none;
}
/* Templates */
.tabs__input_templates:checked ~
.tabs__content-section_all,
.tabs__input_templates:checked ~
.tabs__content-section_elements,
.tabs__input_templates:checked ~
.tabs__content-section_containers {
    display: none;
} 
/* HTML */
.tabs__input_html:checked ~
.tabs__code_css {
    display: none;
}
/* CSS */
.tabs__input_css:checked ~
.tabs__code_html {
    display: none;
}

@media (max-width: 1024px) {
/* Hide scrollbar */
    /* For Chrome, Safari and Opera */
    .tabs__code::-webkit-scrollbar {
        display: none;
    }
    /* For IE, Edge and Firefox */
    .tabs__code {
        scrollbar-width: none;
    }
}

@media (min-width: 1025px) {

    .tabs__content-section {
        padding: 52px 0 76px;
    }

}

/* Animation */
@keyframes switch-tab {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}