.card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 12px;
    box-sizing: border-box;

    background: var(--white);
    box-shadow: 0 2px 4px var(--shadow);
}
.card__top {
    display: flex;
    flex-basis: 100%;
}
.card__content {
    flex-basis: 100%;
    margin: auto;
}
.card__bottom {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 25px;
    text-align: center;
    color: var(--black);
}
.card__title {
    font-weight: 500;
    font-size: 21px;
}