body {
    font-family: sans-serif;
}
header {
    background-color: rgb(255, 127, 127);
    padding-top: 5px;
}
nav {
    background-color: rgb(255, 148, 86);
    padding: 20px;
    text-align: center;
}
main{
    padding: 10px;
    background-color: rgb(253, 255, 107);
}
article {
    background-color: rgb(130, 255, 136);
    padding: 10px;
    margin-bottom: 5px;
}
footer {
    background-color: rgb(110, 187, 255);
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color: white;
}
h1 {
    text-align: center;
    font-family: fantasy;
    font-weight: 100;
    font-size: 70px;
    color: white;
}
a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: white;
    padding: 0 20px;
}
a:hover {
    color: rgb(189, 39, 189);
}