@import '../fonts/fonts.css';

@import 'normalize.css';
@import 'reset.css';

@import '../../03-lection1/01-button/button.css';
@import '../../03-lection1/02-accordion/accordion.css';
@import '../../04-lection2/02-skeleton/skeleton.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../06-lection4/01-avatar/avatar.css';
@import '../../07-lection5/01-checkbox/checkbox.css';
@import '../../07-lection5/02-radio/radio.css';
@import '../../07-lection5/03-toggler/toggler.css';
@import '../../09-lection7/01-burger-menu/burger-menu.css';

@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/page/page.css';
@import '../../components/container/container.css';
@import '../../components/content/content.css';
@import '../../components/card/card.css';
@import '../../components/logo/logo.css';
@import '../../components/tabs/tabs.css';
@import '../../components/preview/preview.css';
@import '../../components/menu/menu.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --dark-blue: #334D6E;
    --red: #F03D3E;
    --orange: #D84910;
    --grey-0: #F9FAFC;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --blackout: rgba(196, 196, 196, 0.5);
    --shadow: rgba(33, 36, 41, 0.05);

    --error: var(--red);
    --success: var(--blue);
    --notificaiton: var(--orange);

    --primary: var(--blue);
    --primary-hovered: #2342C0;
    --secondary: var(--purple);
    --secondary-hovered: #5028C6;
}

html, body {
    height: 100%;
}
