.skeleton {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    padding: 23px 39px 31px 23px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}
.skeleton__header {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 16px;
}
.skeleton__icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.skeleton__text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
}
.skeleton__text_description {
    flex-basis: 100%;
}
.skeleton__string {
    height: 20px;
}
.skeleton__string_small {
    width: 40%;
}
.skeleton__string_large {
    width: 60%;
}
.skeleton__icon,
.skeleton__string {
    background: linear-gradient(92.51deg, 
                                var(--grey-2) 6.44%, 
                                #E2E6E8 38.47%, 
                                #F3F5F5 56.48%, 
                                #E3E7EA 77.5%, 
                                var(--grey-2) 102.52%);
    background-size: 200%;
    animation: move-background 1500ms linear;
    animation-iteration-count: infinite;
}

/* Animations */
@keyframes move-background {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: -100%;
    }
}