.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
    transition: transform 200ms linear;
    background: rgba(127, 127, 127, 0.5);
}

.burger-menu[data-open] {
    transform: translateX(0);
}
.burger-menu__content {
    max-width: 375px;
    height: 100%;
    padding: 16px;
    background: var(--grey-0);
}
.burger-menu__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
}
.burger-menu__section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
    border-top: 1px solid var(--grey-2);
}
.burger-menu__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-3);
}
.burger-menu__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}
.burger-menu__link:active {
    color: var(--notificaiton);
}
.burger-menu__button {
    position: absolute;
    left: 12px;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger-menu__button_open {
    background: transparent;
}
.burger-menu__button_close {
    border-radius: 50%;
    background: var(--grey-2);
}
.burger-menu__icon {
    width: 24px;
    height: 24px;
}

@media (min-width: 1025px) {

    .burger-menu,
    .burger-menu__button_open {
        display: none;
    }
    
}